@font-face {
    font-family: assassin;
    src: url(../fonts/assassin.woff2);
}
a{
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6,body{
    margin: 0;
    font-family: assassin;
}
body,html{
    height: 100%;
}
body{
    position: relative;
}

:root{
    --accent: rgb(255, 174, 0);
    --text: rgb(0, 0, 0);
    --regular-text:16px;
    --padding: 120px;
    --transition: cubic-bezier(.4, 0, 0, 1);
}

@keyframes k-Light {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: .3;
    }
    100% {
      opacity: .2;
    }
  }
@keyframes k-glow{
    0% {
      opacity: .6;
    }
    50% {
      opacity: .8;
    }
    100% {
      opacity: .6;
    }
  }
@keyframes k-Left-side{
    0%{
        transform: rotateY(-1deg) scaleX(.92);
    }
    100%{
        transform: rotateY(0deg) scaleX(1);
    }
}
@keyframes k-Right-side{
    0%{
        transform: rotateY(0deg) scaleX(1);
    }
    100%{
        transform: rotateY(-1deg) scaleX(.92);
    }
}

